.container {
  padding: 0 50px 40px 50px;
  max-width: 100%;

}
/*card style*/
.card {
  position: relative;
  max-width: 194px;
  min-width: 194px;
  height: 273px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /*background: pink;*/
  cursor: pointer;
  margin: 16px;
}

.head {
  max-width: 194px;
  height: 103px;
}

.user {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 152.38%;
  color: #757575;
  text-align: center;
  padding: 8px;
}

.folow {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 152.38%;
  color: #757575;
  text-align: center;
}

.tags {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #828282;
  margin: 0 40px;
  padding: 4px;
}

.button {
  position: absolute;
  bottom: 30px;
  left: 53px;
  width: 88px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F24B6A;
  border-radius: 2px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}


