/*react-icons*/
.global-class-name {
  position: relative;
  top: 2px;
}

.event-container {
  position: relative;
  width: 100%;
  max-width: 1340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-scene {
  flex: 0 0 15%;
  position: sticky;
  display: flex;
  flex-direction: column;
  /*background-color: pink;*/
}

.right-scene {
  flex: 0 0 85%;
  /*background-color: grey;*/
  /*overflow: scroll;*/
  /*display: block;*/
  /*padding-left: 51px;*/
  padding-top: 61px;
}

.parent {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

a {
    text-decoration: none;
}
ul { list-style-type: none; }
li{
  list-style: none;
}

.event-card {
  position:relative;
  /*width: 313.5px;
  height: 264px;*/
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 8px;

}
.event-card:hover{
  filter: brightness(120%);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}
.event-img{
  position: relative;
  width: 100%;
  height: 150.66px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 86% auto;
}

.price{
  width: 46.79px;
  height: 16.29px;
  background: #FFFFFF;
  border-radius: 3px;
  justify-self: center;
  margin-top: 13px;
}
.price p{
height: 16px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* or 83% */
display: flex;
align-items: center;
color: #F24B6A;
}


.event-card .fas{
  transform: scale(.9);
}

.like-rate{
margin-left: 14px;
}


.event-infor{
  position: relative;
  width: 100%;
  height: 114px;
  display: grid;
  grid-template-columns: 47px 203px;
  grid-template-rows: 24px 32px 45px;
  padding-left: 20px;
  padding-top: 12px;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
}
.event-infor > .week{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  /* or 200% */
  color: #706F6F;
}
.event-infor > .title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  display: flex;
  align-items: center;

color: #555555;
}
.event-infor > .description{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 152.38%;
  /* or 14px */
  display: flex;
  align-items: center;
  color: #888888;
}
.event-infor > .calendar-frame{
  width: 47px;
  height: 63px;
  background-image: url(/images/calendar-frame.png);
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}
.event-infor > .calendar-frame span{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  /* or 143% */
  display: flex;
  align-items: center;
  color: #F24B6A;
}
.event-infor > .calendar-frame span:nth-child(1){
  padding-top: 2px;
  font-size: 14px;
}
.event-infor > .calendar-frame span:nth-child(2){
  font-size: 9px;
}

.event-infor > .btns-rows{
  display: flex;
  flex-direction: row;
  /*justify-content: space-around;*/
}
.event-infor > .btns-rows div{
  padding: 3px 10px;
  background: #F24B6A;
  border-radius: 2px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 7px;
  line-height: 9px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #FFFFFF;
  height: fit-content;
  margin-right: 6px
}

.btns-rows {
  display: flex;
  align-items: space-around;
  flex-wrap: wrap;
}
.event-infor > .btns-rows .btn-dance{
  margin-left: 6px;
  margin-right: 6px;
}

.centralized {
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-white-circle{
align-items: center;
width: 20px;
height: 20px;
background: #FFFFFF;
border-radius: 50%;
position: relative;
  top: 5px;
}

.share-like{
position: relative;
height: 20px;
display: flex;
flex-direction: row;
align-items: center;
padding-top: 11px;
padding-right: 27px;
justify-self: flex-end;
}
.share-like .fa-share:before, .share-like .fa-heart:before{
color: #F24B6A;
}

.like-rate{
margin-left: 14px;
}

.filter-results{
  position: relative;
  display: grid;
  grid-template-columns: 311px 311px 311px;
  grid-auto-rows: auto auto auto;
  grid-column-gap:18px ;
  grid-row-gap: 25px;
}

.results-top {
  width: 100%;
  height: 52px;
  padding-bottom: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.results-found {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 134.09%;
  /* or 32px */
  display: flex;
  align-items: center;
  color: #646464;
}

.btn-design {

}

@media (min-width: 768px) {

  .event-container {
    flex-direction: row;
  }

}
