@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');

/*range slider over-writen the default style*/
.MuiSlider-root {
  color: #F24B6A !important;
}

.MuiSlider-valueLabel {
  display: none;
}

.MuiSlider-thumb {
  width: 22px !important;
  height: 22px !important;
  background: #FFFFFF !important;
  border: 1px solid #919191;
  border-radius: 50%;
}

.MuiSlider-rail {
  color: #DCDCDC;
  height: 8px !important;
  opacity: 1 !important;
}

.MuiSlider-track {
  height: 8px !important;
}
/************************************/

.filter-left {
  /*padding-top: 24px;*/
  display: flex;
  margin-left: 2px;
}

.filter-left-title {
  width: 142px;
  height: 45px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 134.09%;
  align-items: flex-start;
  text-align: center;
  color: #737070;
  margin-bottom: 64px;
}

.filter-left-subtitle {
  height: 25px;
  padding-bottom: 13px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #737070;
}

.event-filter-row {
  width: 100%;
  padding: 20px 20px 0 20px;
  background: #ffffff;
}

/*LOCATION*/
.search-icons-selected {
  color: #F24B6A;
}
.search-event-input {
  border-bottom: 1px solid #CACACA;
  color: #737070;
}

.search-icons {
  color: #737070;
}
/*DATE*/ /*CATEGORY*/
.event-date {
  padding: 4px 9px;
  border: 1px solid #AAAAAA;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 2px;
  margin-bottom: 8px
}

.event-date:hover {
  cursor: pointer;
}

.options {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 134.09%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: #737070;
}

.options-row {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;

}

.actived-event-date{
  background: #F24B6A;
  color: white;
}

.event-more-date {
  /*padding: 4px 9px;
  border: 1px solid #AAAAAA;
  box-sizing: border-box;
  border-radius: 3px;
  justify-content: center;*/
}

.down-date {
  position: absolute;
  right: 8px;
}

.event-more-date input {
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  /*line-height: 134.09%;*/
  display: flex;
  /*align-items: center;*/
  /*text-align: center;*/
  color: #737070;
  width: 147px;
  height: 26px;
  border: 1px solid #AAAAAA;
}

.input-icon {
  position: relative;
  display: flex;
  align-items: center;

}

.event-category {
  padding-top: 52px;
}
/*PRICE*/
.event-price {
  padding-top: 50px;
}

.event-price .price-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 43px;
}

.price-range{
  background: #F24B6A;
  border-radius: 3px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 134.09%;
  /* or 16px */
  display: flex;
  align-items: center;
  text-align: center;
  color: #FEE9ED;
  padding: 4px 32px;
}

.amount {
  width: 150px;
  background: rgba(252, 248, 248, 0.5);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #F24B6A;
  border: none;
}



.slider-box {
width: 260.33px;
height: 5px;
}

#range-slider {

}
/*VIMEO*/
.event-vimeo {
  padding-top: 70px;
}

.vimeo-card{
  width: 308px;
  height: 83px;
  background: #F2A413;
}
.vimeo-title {
  padding-left: 26px;
  padding-top: 12px;
  font-family: Candal;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.vimeo-description{
  padding-left: 26px;
  padding-top: 7px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}


/*MOBILE FIRST */

@media (min-width: 768px) {

  .filter-left {
    flex-direction: column;
  }

  .filter-left {
    padding-top: 64px
  }


}

