.banner {
  height: 80vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/banner.jpg");
  /*background-image: url("/images/banner.jpg");*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ecf0f1;
  text-align: center;
  width: 100%;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  /*line-height: 64.36px;*/
}

.form {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}


.nav {
  color: #fff;
  position: absolute;
  left: 1%;
  right: 1%;
  display: flex;
  justify-content: center;

}

.nav li {
  list-style-type: none;
  display: inline-flex;
  padding: 5px 15px;
  font-size: 14px;
  position: relative;
  color: #d6d6d6;
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
  color: white;
  position: relative;
  justify-content: space-between;
}

.nav a:hover {
  /*color: #F24B6A;*/
  filter: brightness(120%);
}

.selected {
  background: #f24b6a;
  padding: 5px 8px;
  border-radius: 5px;
}

@media (min-width: 1100px) {
  .center {
    font-size: 48px;
  }

  .nav li {
    font-size: 18px;
    padding: 5px 85px;
  }

  .form {
    margin-top: 80px;
  }
  .banner {
    height: 450px;
  }


}
