*,
*::before,
*::after {
  box-sizing: border-box;
}

input {
  height: 32px;
  font-size: 16px;
  /*font-size: max(16px, 1em);*/
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  /*border-radius: 4px;*/
}

input::placeholder {
        color: #4A4A4A;
        opacity: 0.5;
      }

/*icons*/
.search-icons {
  color: #000000;
  opacity: 0.5;
  font-size: 16px;
}

.relative-right {
  position: relative;
  right: 25px;
}

.container {
  display: flex;
  justify-content: center;
}
/*search fields*/
.search-events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 5px;
  width: 90%;
}

.search-event-params {
  padding:8px;
  background:#ffffff;
  font-size:16px;
  display:flex;
  justify-content:center;
}

.input-field-icon {
  padding: .5rem;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-event-input {
  border-bottom: 1px solid #CCC;
}
.search-event-params {
  margin: 0px;

}
.search-event-params p {
  font-size: 10px;
  background: #ffffff;
}

/*button let's go!*/
.lets-go-btn div{
  display: flex;
  justify-content: center;
  align-items: center;
  /*width: 145.17px;*/
  width: 80%;
  height: 38px;
  background: #F24B6A;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 8px;
}
.lets-go-btn p{
  height: 20.42px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /*display: flex;*/
  align-items: center;
  color: #FFFFFF;
}
.lets-go-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .search-events {
    flex-direction:row;
    padding:8px;
    margin:8px;
    overflow: scroll;
  }

  .search-event-params {
    border-right: 1px solid;
  }

  .lets-go-btn div {
    margin: 0 auto;
  }

  .container {

  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {




}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

 }

